<header>
    <h2 class="h1">Top Categories this Month</h2>
</header>
<ul class="categories">
    <li class="category">
        <div class="media">
            <a class="media-left" href="product-category.html">
                <img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
            </a><!-- /.media-left -->

            <div class="media-body">
                <h4 class="media-heading"><a href="product-category.html">Smart Phones & Tablets</a></h4>
                <ul class="sub-categories list-unstyled">
                    <li class="cat-item">
                        <a href="product-category.html" >Accessories</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Chargers</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Powerbanks</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Smartphones</a>
                    </li>
                </ul>
            </div><!-- /.media-body -->
        </div><!-- /.media -->
        <a class="see-all" href="#">See all</a>
    </li>
    <li class="category">
        <div class="media">
            <a class="media-left" href="product-category.html">
                <img data-echo="assets/images/products/2.jpg" src="assets/images/blank.gif" alt="">
            </a><!-- /.media-left -->

            <div class="media-body">
                <h4 class="media-heading"><a href="product-category.html">Video Games & Consoles</a></h4>
                <ul class="sub-categories list-unstyled">
                    <li class="cat-item">
                        <a href="product-category.html" >Accessories</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Chargers</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Powerbanks</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Smartphones</a>
                    </li>
                </ul>
            </div><!-- /.media-body -->
        </div><!-- /.media -->
        <a class="see-all" href="#">See all</a>
    </li>
    <li class="category">
        <div class="media">
            <a class="media-left" href="product-category.html">
                <img data-echo="assets/images/products/3.jpg" src="assets/images/blank.gif" alt="">
            </a><!-- /.media-left -->

            <div class="media-body">
                <h4 class="media-heading"><a href="product-category.html">Gadgets</a></h4>
                <ul class="sub-categories list-unstyled">
                    <li class="cat-item">
                        <a href="product-category.html" >Accessories</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Chargers</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Powerbanks</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Smartphones</a>
                    </li>
                </ul>
            </div><!-- /.media-body -->
        </div><!-- /.media -->
        <a class="see-all" href="#">See all</a>
    </li>
    <li class="category">
        <div class="media">
            <a class="media-left" href="product-category.html">
                <img data-echo="assets/images/products/4.jpg" src="assets/images/blank.gif" alt="">
            </a><!-- /.media-left -->

            <div class="media-body">
                <h4 class="media-heading"><a href="product-category.html">Home Entertainment</a></h4>
                <ul class="sub-categories list-unstyled">
                    <li class="cat-item">
                        <a href="product-category.html" >Accessories</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Chargers</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Powerbanks</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Smartphones</a>
                    </li>
                </ul>
            </div><!-- /.media-body -->
        </div><!-- /.media -->
        <a class="see-all" href="#">See all</a>
    </li>
    <li class="category">
        <div class="media">
            <a class="media-left" href="product-category.html">
                <img data-echo="assets/images/products/5.jpg" src="assets/images/blank.gif" alt="">
            </a><!-- /.media-left -->

            <div class="media-body">
                <h4 class="media-heading"><a href="product-category.html">Laptops & Computers</a></h4>
                <ul class="sub-categories list-unstyled">
                    <li class="cat-item">
                        <a href="product-category.html" >Accessories</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Chargers</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Powerbanks</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Smartphones</a>
                    </li>
                </ul>
            </div><!-- /.media-body -->
        </div><!-- /.media -->
        <a class="see-all" href="#">See all</a>
    </li>
    <li class="category">
        <div class="media">
            <a class="media-left" href="product-category.html">
                <img data-echo="assets/images/products/6.jpg" src="assets/images/blank.gif" alt="">
            </a><!-- /.media-left -->

            <div class="media-body">
                <h4 class="media-heading"><a href="product-category.html">Accessories</a></h4>
                <ul class="sub-categories list-unstyled">
                    <li class="cat-item">
                        <a href="product-category.html" >Accessories</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Chargers</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Powerbanks</a>
                    </li>
                    <li class="cat-item">
                        <a href="product-category.html" >Smartphones</a>
                    </li>
                </ul>
            </div><!-- /.media-body -->
        </div><!-- /.media -->
        <a class="see-all" href="#">See all</a>
    </li>
</ul>
