<div class="home-v3-ads-block animate-in-view fadeIn animated" data-animation=" animated fadeIn">
    <div class="ads-block row">
        <div class="ad col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-middle">
                    <ng-container *ngIf="img; else noImage">
                        <img class="deals-img" src="{{ img }}" attr.data-echo="{{ img }}">
                      </ng-container>
                      <ng-template #noImage>
                          <img class="deals-img" src="/assets/images/noimage.jpg" data-echo="/assets/images/noimage.jpg">
                      </ng-template>
                </div>
                <div class="media-body media-middle">
                    <div class="ad-text">
                        Catch Hottest <strong>Deals</strong> in Haier
                    </div>
                    <div class="ad-action">
                        <a href="/shop">Shop now</a>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->

        <div class="ad col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-middle">
                    <ng-container *ngIf="img; else noImage">
                      <img class="deals-img" src="{{ img }}" attr.data-echo="{{ img }}">
                    </ng-container>
                    <ng-template #noImage>
                        <img class="deals-img" src="/assets/images/noimage.jpg" data-echo="/assets/images/noimage.jpg">
                    </ng-template>

                </div>
                <div class="media-body media-middle">
                    <div class="ad-text">
                        Split Type, Window Type <br><strong>and more</strong>
                    </div>
                    <div class="ad-action">
                        <a href="/shop"><span class="from"><span class="prefix">From</span><span class="value"><sup>₱</sup>7,749</span><span class="suffix">99</span></span></a>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.home-v3-ads-block -->
