.fa-shopping-cart {
  font-size: 20px !important;
}
.cart-name {
  padding-right: 20px !important;
}

.navbar-mini-cart .nav-link > .fa {
  margin-right: 7px;
}

.logout:hover {
  cursor: pointer;
}
.site-header{
  z-index: 999;
}

// .container{
//   height: 69px;
// }
@media (min-width: 992px){
  .site-header{
    height: 77px;
  }
}
@media (max-width: 991px){
  .site-header{
    height: 260px;
  }
}
.containerlist{
  padding-right:.9375rem;padding-left:.9375rem;margin-right:auto;margin-left:auto
}
.containerlist::after{
  display:table;clear:both;content:""
}
@media (min-width:544px){
  .containerlist{max-width:576px}
}
@media (min-width:768px){
  .containerlist{max-width:620px}
}
@media (min-width:992px){
  .containerlist{max-width:940px}
}
@media (min-width:1200px){
  .containerlist{max-width:1209px}
}

.myaccount{
  z-index: 10002;
}

.hidden{
  display: none;
}

.remove{
  cursor: pointer;
}

