  <div class="top-bar">
      <div class="container">
          <nav>
              <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
                  <li class="menu-item animate-dropdown"><a title="Welcome to Cool Mart" href="/">Welcome to Cool Mart</a></li>
              </ul>
          </nav>

          <nav>
              <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
                  <li class="menu-item animate-dropdown"><a title="Store Locator" [routerLink]="['/pages/store-location']"><i class="ec ec-map-pointer"></i>Store Locator</a></li>
                  <li class="menu-item animate-dropdown"><a title="Track Your Order" [routerLink]="['/pages/track']"><i class="ec ec-transport"></i>Track Your Order</a></li>
                  <li class="menu-item animate-dropdown"><a title="Shop" [routerLink]="['/shop']"><i class="ec ec-shopping-bag"></i>Shop</a></li>
                  <li *ngIf="!isLoggedIn()" class="menu-item animate-dropdown"><a title="Sign In" [routerLink]="['/sign_in']"><i class="ec ec-user"></i>Sign In / Sign Up</a></li>
                  <li *ngIf="isLoggedIn()" class="menu-item menu-item-has-children animate-dropdown nav-item dropdown">
                      <a title="Log Out" class="nav-link logout"  data-toggle="dropdown">
                        <i class="ec ec-user"></i>My Account
                      </a>
                      <ul class="dropdown-menu dropdown-menu-mini-cart myaccount">
                        <li>
                          <div class="widget_shopping_cart_content">

                            <ul class="cart_list product_list_widget ">

                              <li class="mini_cart_item">
                                <a class="selection" [routerLink]="['/dashboard']" >
                                  Manage My Account
                                </a>
                              </li>


                              <li class="mini_cart_item">
                                  <a class="selection" [routerLink]="['/dashboard/order']">
                                      My Orders
                                    </a>
                              </li>

                              <!-- <li class="mini_cart_item">
                                <a href="#">
                                    My Wishlist
                                  </a>
                              </li> -->
                              <li class="mini_cart_item">
                                <a class="selection" [routerLink]="['/dashboard/order/reviews']">
                                      My Reviews
                                    </a>
                              </li>
                              <li class="mini_cart_item">
                                  <a class="selection" [routerLink]="['/dashboard/order/returns']">
                                      My Return &#038; Cancellations
                                    </a>
                              </li>
                              <li class="mini_cart_item">
                                  <a class="logout" (click)="logout()" style="color: #4b4b4b;">
                                     Logout
                                    </a>
                              </li>
                            </ul><!-- dropdown -->

                          </div>
                        </li>
                      </ul>
                    </li>
              </ul>
          </nav>
      </div>
  </div><!-- /.top-bar -->

  <header id="masthead" class="header-v3 stickynavbar site-header">
      <div class="container">
          <div class="row">

              <!-- ============================================================= Header Logo ============================================================= -->
              <div class="header-logo">
                <a href="/" class="header-logo-link">
                  <svg height="42.52px" width="250.748px" enable-background="new 0 0 175.748 42.52">
                      <text x="8" y="40" fill-rule="evenodd" clip-rule="evenodd" fill="white" class="logosvg">coolmart365.</text>
                    </svg>
                  </a>
              </div>
              <!-- ============================================================= Header Logo : End============================================================= -->

              <form class="navbar-search" method="get" action="/">
                <label class="sr-only screen-reader-text" for="search">Search for:</label>
                <div class="input-group">
                  <input #searchInput (keyup.enter)="search(searchInput.value)" [value]="keyword" type="text" id="search" class="form-control search-field" dir="ltr" name="s" placeholder="Search Item" />
                  <div class="input-group-addon search-categories">
                    <select name='product_cat' id='product_cat' class='postform resizeselect' >
                      <option value='0' selected='selected'>
                        <!-- Select Region -->
                      </option>
                      <option  *ngFor="let region of regions" class="level-0" value="{{ region.name }}">{{ region.name }}</option>
                      <!-- <option class="level-0" value="split-type">Split Type</option>
                      <option class="level-0" value="portable">Portable</option> -->
                    </select>
                  </div>
                  <div class="input-group-btn">
                    <input type="hidden" id="search-param" name="post_type" value="product" />
                    <button (click)="search(searchInput.value)" type="submit" class="btn btn-secondary">
                      <i class="ec ec-search"></i>
                    </button>
                  </div>
                </div>
              </form>
              <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip">
                <li class="nav-item dropdown">
                  <a href="/cart" class="nav-link" data-toggle="dropdown">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="cart-items-count count">{{ count }}</span>
                    <span class="cart-name">Cart</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-mini-cart">
                    <li *ngIf="carts?.length; else noItem">
                      <div class="widget_shopping_cart_content">

                        <ul class="cart_list product_list_widget ">


                          <li class="mini_cart_item" *ngFor="let cart of carts | slice: 0 : 4">
                                <a title="Remove this item" class="remove" (click)="removeItem(cart?.id)">×</a>
                                <a [routerLink]="['shop/shop-item/', cart?.attributes.item_slug]">
                                  <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="{{ apiUrl }}/{{ cart?.attributes.item_images[0] }}" alt="">
                                  {{ cart?.attributes.item_name }}&nbsp;
                                </a>

                                <span class="quantity">{{ cart?.attributes.cart_qty }} × <span class="amount">{{ cart?.attributes.item_srp }}</span></span>

                          </li>


                        </ul><!-- end product list -->


                        <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>


                        <p class="buttons">
                          <a class="button wc-forward" [routerLink]="['/cart']" >View Cart</a>
                          <a class="button checkout wc-forward" [routerLink]="['/checkout']">Checkout</a>
                        </p>


                      </div>
                    </li>
                    <ng-template #noItem>
                      <p>You have no Items inside the Cart!</p><br>
                      <a class="button checkout wc-forward" [routerLink]="['/shop']" >SHOP NOW</a>
                    </ng-template>

                  </ul>
                </li>
              </ul>

              <ul class="navbar-wishlist nav navbar-nav pull-right flip">
                <li class="nav-item">
                  <a href="/wishlist" class="nav-link"><i class="ec ec-favorites"></i></a>
                </li>
              </ul>
              <ul class="navbar-compare nav navbar-nav pull-right flip">
                <li class="nav-item">
                  <a href="/compare" class="nav-link"><i class="ec ec-compare"></i></a>
                </li>
              </ul>
          </div><!-- /.row -->
      </div>
  </header><!-- #masthead -->

  <nav class="navbar navbar-primary navbar-full yamm hidden">
      <div class="containerlist ">
        <div class="clearfix">
          <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#header-v3">
            &#9776;
          </button>
        </div>

        <div class="collapse navbar-toggleable-xs " id="header-v3">
          <ul class="nav navbar-nav yamm">
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
              <a title="Aircon" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Aircon <i class="fa fa-caret-down" aria-hidden="true"></i></a>
              <ul role="menu" class=" dropdown-menu">
                <li class="menu-item animate-dropdown "><a title="Window Type" href="home.html">Window Type</a></li>
                <li class="menu-item animate-dropdown "><a title="Split Type" href="home-v2.html">Split Type</a></li>
                <li class="menu-item animate-dropdown "><a title="Package Type" href="home-v3.html">Package Type</a></li>
                <li class="menu-item animate-dropdown "><a title="Portable Aircon" href="home-v3.html">Portable Aircon</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
              <a title="Television" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Television <i class="fa fa-caret-down" aria-hidden="true"></i></a>
              <ul role="menu" class=" dropdown-menu">
                <li class="menu-item animate-dropdown "><a title="TV" href="home.html">TV</a></li>
                <li class="menu-item animate-dropdown "><a title="Home Entertainment" href="home-v2.html">Home Entertainment</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
                <a title="Home Appliance" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Home Appliance <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul role="menu" class=" dropdown-menu">
                  <li class="menu-item animate-dropdown "><a title="Washer &amp; Dryer" href="home.html">Washer &#038; Dryer</a></li>
                  <li class="menu-item animate-dropdown "><a title="Refrigerator" href="home-v2.html">Refrigerator</a></li>
                  <li class="menu-item animate-dropdown "><a title="Range" href="home-v2.html">Range</a></li>
                </ul>
              </li>
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
                <a title="Small Appliances" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Small Appliances <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul role="menu" class=" dropdown-menu">
                  <li class="menu-item animate-dropdown "><a title="Fans" href="home.html">Fans</a></li>
                  <li class="menu-item animate-dropdown "><a title="Kitchen Appliance" href="home-v2.html">Kitchen Appliance</a></li>
                  <li class="menu-item animate-dropdown "><a title="Food &amp; Beverages" href="home-v2.html">Food &#038; Beverages</a></li>
                  <li class="menu-item animate-dropdown "><a title="Household" href="home-v2.html">Household</a></li>
                  <li class="menu-item animate-dropdown "><a title="Personal Care" href="home-v2.html">Personal Care</a></li>
                </ul>
              </li>
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
                <a title="Cool Home" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Cool Home <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul role="menu" class=" dropdown-menu">
                  <li class="menu-item animate-dropdown "><a title="Sofas &amp; Living Room" href="home.html">Sofas &#038; Living Room</a></li>
                  <li class="menu-item animate-dropdown "><a title="Dining Chairs &amp; Table" href="home-v2.html">Dining Chairs &#038; Table</a></li>
                  <li class="menu-item animate-dropdown "><a title="Bedroom &amp; Mattress" href="home-v2.html">Bedroom &#038; Mattress</a></li>
                  <li class="menu-item animate-dropdown "><a title="Homeware" href="home-v2.html">Homeware</a></li>
                  <li class="menu-item animate-dropdown "><a title="Kitchen &amp; Dinnerware" href="home-v2.html">Kitchen &#038; Dinnerware</a></li>
                  <li class="menu-item animate-dropdown "><a title="Glassware" href="home-v2.html">Glassware</a></li>
                </ul>
              </li>
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
                <a title="Mobile" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Mobile <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul role="menu" class=" dropdown-menu">
                  <li class="menu-item animate-dropdown "><a title="Smartphone" href="home.html">Smartphones</a></li>
                  <li class="menu-item animate-dropdown "><a title="Tablets" href="home-v2.html">Tablets</a></li>
                  <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Wearables</a></li>
                </ul>
              </li>
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
              <a title="Gadgets" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Gadgets <i class="fa fa-caret-down" aria-hidden="true"></i></a>
              <ul role="menu" class=" dropdown-menu">
                <li class="menu-item animate-dropdown "><a title="Smartphone" href="home.html">Camera</a></li>
                <li class="menu-item animate-dropdown "><a title="Tablets" href="home-v2.html">Computer</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Personal Audio</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Gaming</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Mobile Accessories</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Printers</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children animate-dropdown dropdown">
              <a title="Health &amp; Wellness" href="shop.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Health
                  &#038; Wellness
                 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
              <ul role="menu" class=" dropdown-menu">
                <li class="menu-item animate-dropdown "><a title="Smartphone" href="home.html">Camera</a></li>
                <li class="menu-item animate-dropdown "><a title="Tablets" href="home-v2.html">Computer</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Personal Audio</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Gaming</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Mobile Accessories</a></li>
                <li class="menu-item animate-dropdown "><a title="Wearables" href="home-v2.html">Printers</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.collpase -->
      </div><!-- /.-container -->
    </nav><!-- /.navbar -->
