<br><div id="content" class="site-content" tabindex="-1">
  <div class="container">
    <div class="content-area " id="primary">
      <main id="main" class="site-main">
          <header class="entry-header">
              <h1 itemprop="name" class="entry-title">Store Location</h1>
          </header><!-- .entry-header -->
          <div class="gmap_canvas">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d966.2303495905801!2d121.04781842920413!3d14.373959699371701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d0e9d1b59307%3A0x18b280d7d65af45f!2sTSP%20Building%2C%20Manila%20S%20Rd%2C%20Tunasan%2C%20Muntinlupa%2C%201773%20Metro%20Manila!5e0!3m2!1sen!2sph!4v1571809807854!5m2!1sen!2sph"
                width="1250px" height="800px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
      </main>
    </div>
  </div>
</div>
