<header>
  <h2 class="h1">Split &amp; Window Type</h2>
</header><!-- /header-->

<alert></alert>
<div id="homev3-products-cards-carousel">
  <div class="woocommerce home-v3 columns-2 product-cards-carousel owl-carousel">

      <ul class="products columns-4">
          <ng-container *ngFor="let product of products;let i = index">
            <li class="product" *ngIf="i<4">
                <div class="product-outer">
                    <div class="product-inner">
                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                        <a [routerLink]="['/shop/item/', product?.relationships.brand.name , product?.attributes.slug ]">
                            <h3>{{ product?.attributes.name }}</h3>
                            <div class="product-thumbnail">
                                <ng-container *ngIf="product?.attributes.thumbnails.length !== 0; else noImage">
                                    <img src="{{ apiUrl }}/{{ product?.attributes.thumbnails[0] }}" class="img-responsive" alt="product-image">
                                </ng-container>
                                <ng-template #noImage>
                                    <img class="wp-post-image" src="assets/images/noimage.jpg" class="img-responsive" alt="product-image">
                                </ng-template>
                              </div>
                        </a>

                        <div class="price-add-to-cart">
                            <span class="price">
                                <span class="electro-price">
                                  <ins><span class="amount">₱{{ product?.attributes.discountedSrp }} </span></ins>
                                  <ng-container *ngIf="product?.attributes.discountType">
                                    <del><span class="amount">₱{{ product?.attributes.srp }}</span></del>
                                    <span class="discount"> {{ product?.attributes.discountType }}</span>
                                  </ng-container>
                                </span>
                            </span>
                            <ng-container *ngIf="product.attributes.qty === 0;else instock">
                              <app-addtocart [btnclass]="btnclass" [label]="label" [itemId]="product?.id" [qty]="0">
                              </app-addtocart>
                            </ng-container>
                            <ng-template #instock>
                              <app-addtocart [btnclass]="btnclass" [label]="label" [itemId]="product?.id" [qty]="1">
                              </app-addtocart>
                            </ng-template>
                        </div><!-- /.price-add-to-cart -->

                        <div class="hover-area">
                            <div class="action-buttons">

                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                <a href="compare.html" class="add-to-compare-link"> Compare</a>
                            </div>
                        </div>
                    </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </li><!-- /.product -->
            </ng-container>
        </ul><!-- /.products -->


  </div>
</div><!-- /#homev3-products-cards-carousel-->
