<div class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <aside class="widget clearfix">
          <div class="body">
            <h4 class="widget-title">Featured Products</h4>
            <ul class="product_list_widget">
              <ng-container *ngIf="productsFeatured?.length == 0">
                No Featured Products Yet
              </ng-container>
              <li *ngFor="let prodFeatured of productsFeatured">
                <a [routerLink]="['/shop/item', prodFeatured?.attributes.slug]"
                  title="{{ prodFeatured?.attributes.name }}">
                  <ng-container *ngIf="prodFeatured?.attributes.thumbnails.length > 0;else noImage">
                    <img class="wp-post-image"
                      src="{{ apiUrl }}/{{ prodFeatured?.attributes.thumbnails[0] }}" alt="{{ prodFeatured?.attributes.name }}">
                  </ng-container>
                  <ng-template #noImage>
                    <img class="wp-post-image" src="assets/images/noimage.png"
                      alt="">
                  </ng-template>

                  <span class="product-title">{{ prodFeatured?.attributes.name }}</span>
                </a>
                <span class="electro-price"><span
                    class="amount">₱{{ prodFeatured?.attributes.discountedSrp }}</span></span>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <aside class="widget clearfix">
          <div class="body">
            <h4 class="widget-title">Onsale Products</h4>
            <ul class="product_list_widget">
              <ng-container *ngIf="productsOnSale?.length == 0">
                No On Sale Products Yet
              </ng-container>
              <li *ngFor="let prodOnSale of productsOnSale">
                <a [routerLink]="['/shop/item', prodOnSale?.attributes.slug]"
                  title="{{ prodOnSale?.attributes.name }}">
                  <ng-container *ngIf="prodOnSale?.attributes.thumbnails > 0;else noImage">
                    <img class="wp-post-image"
                      src="{{ apiUrl }}/{{ prodOnSale?.attributes.thumbnails[0] }}" alt="{{ prodOnSale?.attributes.name }}">
                  </ng-container>
                  <ng-template #noImage>
                    <img class="wp-post-image"
                      src="assets/images/noimage.png" alt="{{ prodOnSale?.attributes.name }}">
                  </ng-template>

                  <span class="product-title">{{ prodOnSale?.attributes.name }}</span>
                </a>
                <span class="electro-price"><ins><span
                      class="amount">₱{{ prodOnSale?.attributes.discountedSrp }}</span></ins> <del><span
                      class="amount">₱{{ prodOnSale?.attributes.srp }}</span></del></span>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <aside class="widget clearfix">
          <div class="body">
            <h4 class="widget-title">Top Rated Products</h4>
            <ul class="product_list_widget">
              <ng-container *ngIf="productsTop?.length == 0">
                No Top Products Yet
              </ng-container>
              <li *ngFor="let prodTop of productsTop">
                <a [routerLink]="['/shop/item', prodTop?.attributes.slug]" title="{{ prodTop?.attributes.name }}">

                  <ng-container *ngIf="prodTop?.attributes.thumbnails.length > 0;else noImage">
                    <img class="wp-post-image"
                      src="{{ apiUrl }}/{{ prodTop?.attributes.thumbnails[0] }}" alt="{{ prodTop?.attributes.name }}">
                  </ng-container>
                  <ng-template #noImage>
                    <img class="wp-post-image" src="assets/images/noimage.png"
                      alt="">
                  </ng-template>
                  <span class="product-title">{{ prodTop?.attributes.name }}</span>
                </a>
                <div class="star-rating" title="Rated {{ prodTop?.attributes.ratings }} out of 5">
                  <span [style.width.%]="prodTop?.attributes.star_percent_rate">
                    <strong class="rating">{{ prodTop?.attributes.ratings }}</strong> out of 5
                  </span>
                </div>
                <span class="electro-price">
                  <ins>
                    <span class="amount">₱{{ prodTop?.attributes.discountedSrp }}</span>
                  </ins>
                  <del>
                    <span class="amount">₱{{ prodTop?.attributes.srp }}</span>
                  </del>
                </span>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
