
::ng-deep .mat-ink-bar{
  background: #f78c00 !important;
}
table{
  margin-bottom: 0.01rem;
}
.order{
  min-height: 100px !important;
}
#review-name{
  max-width: 650px !important;
  height: 100%;
}

@media(max-width: 768px){
  #review-name{
    width: 350px !important;
  }
}

.reviewbtn{
  color: white;
  background: #f78c00;
  background-color: #f78c00;
}
.reviewbtn:hover{
  color: white;
  background: #000000;
  background-color: #000000;
}
.mat-spinner-color ::ng-deep circle{
  stroke: #f78c00 !important;
}
.review-area{
  padding: 5px;
  overflow-y:scroll;
  height: 70px;
  border:1px solid #d5d5d5;
  background: #eff0f5;
  color: #212121;
  width: 100% !important;
  border-radius: 10px;
}
.item-main{
  min-width: 540px !important;
}
a{
  color: black;
}
.order-item > td > .item-main {
  max-width: 400px !important;
}
