<div class="card">
  <div class="card-header header-bg">My Reviews</div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="To Be Reviewed">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div style="overflow-x:auto;">
              <table>
                <tr *ngFor="let review of reviews">
                  <div class="order-item">
                    <td>
                      <div class="item-pic">
                        <ng-container *ngIf="review?.attributes.item_images.length <= 0;else therIsImage">
                            <img style="max-width: 100% !important;" src="{{ imageUrl }}"
                              alt="product-thumbnail">
                        </ng-container>
                        <ng-template #thereIsImage>
                          <img style="max-width: 100%;" src="{{ apiUrl }}/{{ review?.attributes.item_images[0] }}"
                            alt="product-thumbnail">
                        </ng-template>
                      </div>
                    </td>
                    <td id="review-name">
                      <div class="item-main">
                        <div class="item-name">
                          {{ review.attributes.item_name }} <br>
                          <div style="color: #757575;">
                            {{ review.attributes.date_placed }}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="item-quantity">
                        <button class="reviewbtn"
                          [routerLink]="['/dashboard/order/reviews/write-review/',review.attributes.item_id]"
                          [queryParams]="{ slug: review.attributes.item_slug, orderId: review.id }" >Review</button>
                      </div>
                    </td>
                    <!-- <td>
                      <div class="item-status">
                        Delivered
                      </div>
                    </td>
                    <td>
                      <div class="item-info">
                        Delivered on 20 Nov 2019
                      </div>
                    </td> -->
                  </div>
                  <div style="width:auto;height: 10px !important; background-color: #f78c00 !important;"></div>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="History">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div style="overflow-x:auto;">
              <table>
                <tr>
                  <div class="order-item" style="height: 100%;">
                    <td>
                      <div class="item-pic">
                        <img src="http://ph-live.slatic.net/original/ae0e0b0b54e1f18b625542082fd22120.jpg"
                          alt="product-thumbnail">
                      </div>
                    </td>
                    <td id="review-name">
                      <div class="item-main">
                        <div class="item-name">
                          Sandisk Ultra Micro SDXC 64GB Class 10 UHS-I SDSQUNS-064G Memory Card - NEW MODEL (Speed up to
                          80MB/s)
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="item-quantity">
                        <button class="reviewbtn" [routerLink]="['/dashboard/order/reviews/write-review']" >Review</button>
                      </div>
                    </td>
                    <!-- <td>
                      <div class="item-status">
                        Delivered
                      </div>
                    </td>
                    <td>
                      <div class="item-info">
                        Delivered on 20 Nov 2019
                      </div>
                    </td> -->
                  </div>
                  <div style="width:auto;height: 10px !important; background-color: #f78c00 !important;"></div>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
