<div class="order-details">
  <div class="shadow order-header-detail" style="width: 100%; min-height: 80px;">
    <div style="float: left;">
      Order #263195583976552
      <br>
      Placed on 19 Nov 2019 15:26:08
    </div>
    <div style="float: right;">
      Total: ₱762.00
    </div>
  </div>
  <div class="order">
    <div class="order-detail">
      <div style="float: left;">
        <div class="item-number">
          <span class="fa fa-gift"></span> Item 1 <br>
        </div>
      </div>
    </div>
    <div class="order-package-details">
        <div class="package-item">
            <div class="item-img">
              <img src="http://ph-live.slatic.net/p/ff00465ecb41a9e2850be1436941088e.jpg" alt="product-image">
            </div>
            <div class="item-name">
                Mystery pouch with a Chance to win Redmi note 7(1 in every 400 boxes) Global Version
            </div>
            <div class="item-price">
                ₱93.00
            </div>
            <div class="item-ordered-qty">
                Qty: 1
            </div>
            <div class="status-option">
              RETURN
            </div>
        </div>

    </div>
  </div>
  <div class="shipping-billing-total-details">
    <div class="delivery-details">
      <div class="shipping-details shadow">
        <div class="content">
          <div class="shipping-title">
              Shipping Address
          </div>
          <span class="shipping-address">
            Unit G, 2/F, TSP Bldg, National Hwy,
            Metro Manila~Muntinlupa, Muntinlupa City, Tunasan
          </span>
          <br>
          <span class="shipping-contact">
            09060044485
          </span>
        </div>
      </div>
      <div class="billing-details shadow">
        <div class="content">
          <div class="billing-title">
            Billing Address
          </div>
          <span class="billing-address">
            Unit G, 2/F, TSP Bldg, National Hwy,
            Metro Manila~Muntinlupa, Muntinlupa City, Tunasan
          </span>
          <br>
          <span class="billing-contact">
            09060044485
          </span>
        </div>
      </div>
    </div>
    <div class="total-summary shadow">
      <div class="content">
        <div class="total-title">
            Total Summary
        </div>
        <div class="sub-total">
          <div style="float: left;">
            Subtotal
          </div>
          <div style="float: right;">₱93.00</div>
        </div>
        <br>
        <div class="shipping-fee">
          <div style="float: left;">
            Shipping Fee
          </div>
          <div style="float: right;">₱50.00</div>
        </div>
        <br>
        <hr>
        <div class="total-with-vat">
          <div style="float: left;">
            Total(VAT Incl.)
          </div>
          <div class="total-price">
              ₱143.00
          </div>
        </div>
        <br>
        <br>
        <div class="paid-by-what">
            Paid by Cash on Delivery
        </div>
      </div>
    </div>
  </div>
</div>
