<div class="order-details">
  <div class="shadow order-header-detail" style="width: 100%; min-height: 80px;">
    <div style="float: left;">
      Order #{{ orderData?.order_id }}
      <br>
      Placed on 19 Nov 2019 15:26:08
    </div>
    <div style="float: right;">
      Total: ₱{{  orderData?.sub_total }}
    </div>
  </div>
  <div class="order" *ngFor="let item of orderData?.items;let i = index">
    <div class="order-detail">
      <div style="float: left;">
        <div class="item-number">
          <span class="fa fa-gift"></span> Item {{ i+1 }} <br>
        </div>
      </div>
    </div>
    <div class="order-tracking-status">
      <div class="status-title">
        Status
      </div>
      <div class="package-status">

      </div>
    </div>
    <div class="order-tracking-details">
      <div class="tracking-area">

      </div>
    </div>
    <div class="order-package-details">
        <div class="package-item">
            <div class="item-img">
              <ng-container *ngIf="item.images.length > 0; else noImage">
                  <img src="item.images[0]" class="item-img" alt="product-image">
                </ng-container>
                <ng-template #noImage>
                  <img src="assets/images/noimage2.jpg" class="item-img" alt="product-image">
                </ng-template>
            </div>
            <div class="item-name">
                {{ item.name }}
            </div>
            <div class="item-price">
                ₱{{ item.price }}
            </div>
            <div class="item-ordered-qty">
                Qty: {{ item.qty }}
            </div>
            <div class="status-option">
              RETURN
            </div>
        </div>

    </div>
  </div>
  <div class="shipping-billing-total-details">
    <div class="delivery-details">
      <div class="shipping-details shadow">
        <div class="content">
          <div class="shipping-title">
              Shipping Address
          </div>
          <span class="shipping-name">
            James Lester Orfano
          </span> <br>
          <span class="shipping-address">
            Unit G, 2/F, TSP Bldg, National Hwy,
            Metro Manila~Muntinlupa, Muntinlupa City, Tunasan
          </span>
          <br>
          <span class="shipping-contact">
            09060044485
          </span>
        </div>
      </div>
      <div class="billing-details shadow">
        <div class="content">
          <div class="billing-title">
            Billing Address
          </div>
          <span class="billing-name">
            James Lester Orfano
          </span> <br>
          <span class="billing-address">
            Unit G, 2/F, TSP Bldg, National Hwy,
            Metro Manila~Muntinlupa, Muntinlupa City, Tunasan
          </span>
          <br>
          <span class="billing-contact">
            09060044485
          </span>
        </div>
      </div>
    </div>
    <div class="total-summary shadow">
      <div class="content">
        <div class="total-title">
            Total Summary
        </div>
        <div class="sub-total">
          <div style="float: left;">
            Subtotal
          </div>
          <div style="float: right;">₱{{ orderData?.sub_total }}</div>
        </div>
        <br>
        <div class="shipping-fee">
          <div style="float: left;">
            Shipping Fee
          </div>
          <div style="float: right;">₱0.00</div>
        </div>
        <br>
        <hr>
        <div class="total-with-vat">
          <div style="float: left;">
            Total(VAT Incl.)
          </div>
          <div class="total-price">
              ₱{{ orderData?.sub_total }}
          </div>
        </div>
        <br>
        <br>
        <div class="paid-by-what">
            Paid by Cash on Delivery
        </div>
      </div>
    </div>
  </div>
</div>
