<div class="container">
  <div class="header">
    <h1>Select Payment Method</h1>
  </div>
  <div class="contents">
    <div class="col2-set11" id="dashboard">

      <div class="col-2" >
        <div class="payment-methods">
          <div class="payment paypal">
            <img class="payment-img" src="assets/images/payment-method/paypal.png" alt="paypal" >
            <div class="payment-title">Paypal</div>
            <div class="payment-sub-title">4% Charge fee</div>
          </div>
          <div class="payment paypal">
              <img class="payment-img" src="assets/images/payment-method/paypal.png" alt="paypal" >
              <div class="payment-title">Paypal</div>
              <div class="payment-sub-title">4% Charge fee</div>
          </div>
          <div class="payment paypal">
              <img class="payment-img" src="assets/images/payment-method/paypal.png" alt="paypal" >
              <div class="payment-title">Paypal</div>
              <div class="payment-sub-title">4% Charge fee</div>
          </div>
          <div class="payment paypal">
              <img class="payment-img" src="assets/images/payment-method/paypal.png" alt="paypal" >
              <div class="payment-title">Paypal</div>
              <div class="payment-sub-title">4% Charge fee</div>
          </div>
          <div class="payment paypal">
              <img class="payment-img" src="assets/images/payment-method/paypal.png" alt="paypal" >
              <div class="payment-title">Paypal</div>
              <div class="payment-sub-title">4% Charge fee</div>
          </div>
          <div class="payment paypal">
              <img class="payment-img" src="assets/images/payment-method/paypal.png" alt="paypal" >
              <div class="payment-title">Paypal</div>
              <div class="payment-sub-title">4% Charge fee</div>
          </div>
        </div>
        <div class="payment-details" >
          <p>Pay with your paypal account.</p>
          <p>Make sure you have enough balance in your account.</p>
          <p>You will be redirected to Paypal website to complete your payment.</p>
          <button class="paynow" (click)="payOnPaypal()">Pay Now</button>
        </div>
      </div><!-- .col-2 -->
        <div class="col-1">
            <div class="card">
              <h4><b>Order Summary</b></h4>
              <div class="subtitle">Subtotal(1 Items and shipping fee included) <span class="subtitle-total-price">₱ 55.0</span></div>
              <div class="total"> <b>Total Amount</b> <span class="total-price">₱ 55.0</span></div>
            </div>

        </div><!-- .col-1 -->


    </div><!-- .col2-set -->
  </div>
</div>
