
.info-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
  padding: 5px;
  align-items: flex-start;
}
.info{
  padding: 5px;
}
.content{
  min-height: 240px;
  padding: 8px 12px;
  color: #212121;
}
a{
  cursor: pointer;
}
.mat-spinner-color ::ng-deep circle{
  stroke: #f78c00 !important;
}
.title{
  font-size: 16px;
  margin-bottom: 10px;
}
span{
  display: inline-block;
  margin-bottom: 10px;
}
.sub-sub-title{
  color: #757575;
}
.address,
.contact{
  font-size: 12px;
  margin-bottom: 5px;
}
.name{
  font-size: 14px;
  color: #212121;
  margin-bottom: 10px;
  font-weight: 700;
}
