
              <div class="card">
                <div class="card-header header-bg mb-3" >
                  Manage My Account
                </div>
                <div class="info-container">
                    <div class="info">
                        <div class="card">
                            Personal Profile | EDIT
                            James Lester Orfano
                            resut.a566@gmail.com
                            Subscribe to our Newsletter
                        </div>
                    </div>
                    <div class="info">
                        <div class="card">
                            Personal Profile | EDIT
                            James Lester Orfano
                            resut.a566@gmail.com
                            Subscribe to our Newsletter
                        </div>
                    </div>
                    <div class="info">
                        <div class="card" >
                            Personal Profile | EDIT
                            James Lester Orfano
                            resut.a566@gmail.com
                            Subscribe to our Newsletter
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header header-bg" >
                    Recent Orders
                  </div>
                <table class="shop_table shop_table_responsive cart">
                    <thead>
                        <tr>
                            <th class="product-name">Product</th>
                            <th class="product-thumbnail">&nbsp;</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="cart_item" *ngFor="let product of r">

                            <td class="product-thumbnail">
                                <a href="single-product.html"><img width="180" height="180" src="{{ product.img }}" alt=""></a>
                            </td>

                            <td data-title="Product" class="product-name">
                                <a href="single-product.html">{{ product.name }}</a>
                            </td>

                            <td data-title="Price" class="product-price">
                                <span class="amount">₱{{ product.price }}</span>
                            </td>

                            <td data-title="Quantity" class="product-quantity">
                                    <span class="quantity" style="margin-left: 1rem;" >{{ product.qty }}</span>
                            </td>

                            <td data-title="Total" class="product-subtotal">
                                <span class="amount">₱ {{ product.price * product.qty }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <router-outlet></router-outlet>
            </div>
