
              <div class="card">
                <div class="card-header header-bg mb-3" >
                  Manage My Account
                </div>
                <div class="info-container">
                    <div class="info">
                        <div class="card">
                            Personal Profile | EDIT
                            James Lester Orfano
                            resut.a566@gmail.com
                            Subscribe to our Newsletter
                        </div>
                    </div>
                    <div class="info">
                        <div class="card">
                            Personal Profile | EDIT
                            James Lester Orfano
                            resut.a566@gmail.com
                            Subscribe to our Newsletter
                        </div>
                    </div>
                    <div class="info">
                        <div class="card" >
                            Personal Profile | EDIT
                            James Lester Orfano
                            resut.a566@gmail.com
                            Subscribe to our Newsletter
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header header-bg" >
                    Recent Orders
                  </div>
                <table class="shop_table shop_table_responsive cart">
                    <thead>
                        <tr>
                            <th class="product-name">Product</th>
                            <th class="product-thumbnail">&nbsp;</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <router-outlet></router-outlet>
            </div>
