
li.product:hover .myhover{
  position: static !important;
}
<<<<<<< HEAD
=======
.mat-spinner-color ::ng-deep circle{
  stroke: #f78c00 !important;
}
.tab-scroll{
  padding: 10px 10px;
  max-height: 1170px;
  overflow-y: scroll;
}
>>>>>>> development
