<section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
    <h2 class="sr-only">Product Carousel Tabs</h2>
    <ul class="nav nav-inline text-xs-left">
        <li class="nav-item">
            <a class="nav-link active" href="#tab-products-1" data-toggle="tab">Featured</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#tab-products-2" data-toggle="tab">On Sale</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#tab-products-3" data-toggle="tab">Top Rated</a>
        </li>
    </ul><!-- /.nav -->

    <div class="tab-content">
        <div class="tab-pane active" id="tab-products-1" role="tabpanel">
            <section class="section-products-carousel" >
                <div class="home-v3-owl-carousel-tabs">
                    <div class="woocommerce columns-4">

                        <ul class="products columns-4">
                            <ng-container *ngFor="let product of products;let i = index">
                              <li class="product" *ngIf="i<4">
                                  <div class="product-outer">
                                      <div class="product-inner">
                                          <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                                          <a href="/shop/shop-item/{{ product?.attributes.slug }}">
                                              <h3>{{ product?.attributes.name }}</h3>
                                              <div class="product-thumbnail">
                                                  <img src="assets/images/blank.gif" attr.data-echo="{{ apiUrl }}/{{ product?.attributes.thumbnails[0] }}" class="img-responsive" alt="product-image">
                                              </div>
                                          </a>

                                          <div class="price-add-to-cart">
                                              <span class="price">
                                                  <span class="electro-price">
                                                      <ins><span class="amount">₱{{ product?.attributes.discountedSrp }} </span></ins>
                                                      <ng-container *ngIf="product?.attributes.discountType">
                                                        <del><span class="amount">₱{{ product?.attributes.srp }}</span></del>
                                                        <span class="discount"> {{ product?.attributes.discountType }}</span>
                                                      </ng-container>
                                                  </span>
                                              </span>
                                              <app-addtocart [btnclass]="btnclass" [label]="label" [itemId]="product?.id" [qty]="1"></app-addtocart>
                                          </div><!-- /.price-add-to-cart -->

                                          <div class="hover-area">
                                              <div class="action-buttons">

                                                  <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                  <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                              </div>
                                          </div>
                                      </div><!-- /.product-inner -->
                                  </div><!-- /.product-outer -->
                                </li><!-- /.product -->
                              </ng-container>
                          </ul><!-- /.products -->
                    </div>
                </div>
            </section>
        </div><!-- /.tab-pane -->

        <div class="tab-pane" id="tab-products-2" role="tabpanel">
            <section class="section-products-carousel">
                <div class="home-v3-owl-carousel-tabs">
                    <div class="woocommerce columns-4">

                        <ul class="products columns-4">
                            <ng-container *ngFor="let product of products;let i = index">
                              <li class="product" *ngIf="i<4">
                                  <div class="product-outer">
                                      <div class="product-inner">
                                          <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                                          <a href="/shop/shop-item/{{ product?.attributes.slug }}">
                                              <h3>{{ product?.attributes.name }}</h3>
                                              <div class="product-thumbnail">
                                                  <img src="assets/images/blank.gif" attr.data-echo="{{ apiUrl }}/{{ product?.attributes.images[0] }}" class="img-responsive" alt="product-image">
                                              </div>
                                          </a>

                                          <div class="price-add-to-cart">
                                              <span class="price">
                                                  <span class="electro-price">
                                                    <ins><span class="amount">₱{{ product?.attributes.discountedSrp }} </span></ins>
                                                    <ng-container *ngIf="product?.attributes.discountType">
                                                      <del><span class="amount">₱{{ product?.attributes.srp }}</span></del>
                                                      <span class="discount"> {{ product?.attributes.discountType }}</span>
                                                    </ng-container>
                                                  </span>
                                              </span>
                                              <app-addtocart [btnclass]="btnclass" [label]="label" [itemId]="product?.id" [qty]="1"></app-addtocart>
                                          </div><!-- /.price-add-to-cart -->

                                          <div class="hover-area">
                                              <div class="action-buttons">

                                                  <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                  <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                              </div>
                                          </div>
                                      </div><!-- /.product-inner -->
                                  </div><!-- /.product-outer -->
                                </li><!-- /.product -->
                              </ng-container>
                          </ul><!-- /.products -->
                    </div>
                </div>
            </section>
        </div><!-- /.tab-pane -->

        <div class="tab-pane" id="tab-products-3" role="tabpanel">
            <section class="section-products-carousel">
                <div class="home-v3-owl-carousel-tabs">
                    <div class="woocommerce columns-4">


                        <ul class="products columns-4">
                            <ng-container *ngFor="let product of products;let i = index">
                              <li class="product" *ngIf="i<4">
                                  <div class="product-outer">
                                      <div class="product-inner">
                                          <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                                          <a href="/shop/shop-item/{{ product?.attributes.slug }}">
                                              <h3>{{ product?.attributes.name }}</h3>
                                              <div class="product-thumbnail">
                                                  <img src="assets/images/blank.gif" attr.data-echo="{{ apiUrl }}/{{ product?.attributes.images[0] }}" class="img-responsive" alt="product-image">
                                              </div>
                                          </a>

                                          <div class="price-add-to-cart">
                                              <span class="price">
                                                  <span class="electro-price">
                                                    <ins><span class="amount">₱{{ product?.attributes.discountedSrp }} </span></ins>
                                                    <ng-container *ngIf="product?.attributes.discountType">
                                                      <del><span class="amount">₱{{ product?.attributes.srp }}</span></del>
                                                      <span class="discount"> {{ product?.attributes.discountType }}</span>
                                                    </ng-container>
                                                  </span>
                                              </span>
                                              <app-addtocart [btnclass]="btnclass" [label]="label" [itemId]="product?.id" [qty]="1"></app-addtocart>
                                          </div><!-- /.price-add-to-cart -->

                                          <div class="hover-area">
                                              <div class="action-buttons">

                                                  <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                  <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                              </div>
                                          </div>
                                      </div><!-- /.product-inner -->
                                  </div><!-- /.product-outer -->
                                </li><!-- /.product -->
                              </ng-container>
                          </ul><!-- /.products -->

                    </div>
                </div>
            </section>
        </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
</section><!-- /.products-carousel-tabs -->
