<div id="content" class="site-content" tabindex="-1">
  <div class="container">

      <nav class="woocommerce-breadcrumb" >
          <a href="home.html">Home</a>
          <span class="delimiter"><i class="fa fa-angle-right"></i></span>
          Terms and Conditions
      </nav><!-- .woocommerce-breadcrumb -->


      <div id="primary" class="content-area">
          <main id="main" class="site-main">


              <article id="post-2183" class="hentry">

                  <header class="entry-header">
                      <h1 class="entry-title">Terms and Conditions</h1>
                      <p class="entry-subtitle">This Agreement was last modified on 5 November 2019.</p>
                  </header><!-- .entry-header -->

                  <div class="entry-content">
                      <section class="section inner-bottom-xs" *ngFor="let term of terms">
                          <h2>{{ term.name }}</h2>
                          <ol>
                              <li><div [innerHtml]="term.content"></div></li>
                          </ol>
                      </section><!-- .section -->


                  </div><!-- .entry-content -->

              </article><!-- #post-## -->

          </main><!-- #main -->
      </div><!-- #primary -->


  </div><!-- .col-full -->
</div><!-- #content -->
