::ng-deep{
  // mat-input focused color
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #f78c00 !important;
  }
  input.mat-input-element {
    color: black;
  }
  .mat-form-field-empty.mat-form-field-label {
    color: black;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty) {
    color: black;
  }
  .mat-form-field.mat-focused .mat-form-field-label{
    color: black;
  }
  .mat-select:focus:not(.mat-select-disabled).mat-primary
  .mat-select-arrow , .mat-select-underline , .mat-select-trigger{
    color: black;
  }

  /* to change selected item color in the select list */
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: black;
  }
  .mat-input-element{
    caret-color: black;
  }

  .mat-form-field{
    // display: contents !important;
    width: 500px !important;
  }

  @media (max-width: 583px){
    .mat-form-field{
      display: contents !important;
      // width: 500px !important;
    }
  }
}


.send-email-password-reset{
  margin-top: 100px;
}
button{
  color: white;
  background-color: #f78c00;
}
button:hover{
  color: black;
}
.response{
  padding-top: 30px;
}
