<div class="title">
  <h1>Reset password</h1>
</div>
<div class="send-email-password-reset">
  <div class="email-field">
    <form [formGroup]="userForm" (ngSubmit)="resetPassword()">
      <div class="new-password">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input class="inputpass" formControlName="password" type="password" required matInput placeholder="">
          <mat-error *ngIf="re.password.errors?.required">New Password is <strong>required</strong></mat-error>
          <mat-error *ngIf="re.password.errors?.mustMatch">New Password <strong>must match</strong></mat-error>
          <mat-error *ngIf="re.password.errors?.minlength">New Password must not be lesser than 8 characters!</mat-error>
          <mat-error *ngIf="re.password.errors?.maxlength">New Password must not be greater than 16 characters!</mat-error>
        </mat-form-field>
      </div>
      <div class="confirm-new-password">
        <mat-form-field appearance="outline">
          <mat-label>Confirm New Password</mat-label>
          <input class="inputpass" formControlName="cpassword" required matInput type="password" placeholder="">
          <mat-error *ngIf="re.cpassword.errors?.required">Confirm New Password is <strong>required</strong></mat-error>
          <mat-error *ngIf="re.cpassword.errors?.mustMatch">Passwords <strong>must match</strong></mat-error>
          <mat-error *ngIf="re.cpassword.errors?.minlength">Confirm New Password must not be lesser than 8 characters!</mat-error>
          <mat-error *ngIf="re.cpassword.errors?.maxlength">Confirm New Password must not be greater than 16 characters!</mat-error>
        </mat-form-field>
      </div>
      <div class="send-btn">
        <button>Reset</button> &nbsp;
        <span class="text-success">{{ message }}</span>
      </div>
    </form>
  </div>
</div>
