<div class="single-product full-width">

  <div id="content" class="site-content" tabindex="-1">
      <div class="container">

          <nav class="woocommerce-breadcrumb">
              <a href="/">Home</a>
              <span class="delimiter"><i class="fa fa-angle-right"></i></span>
              <a [routerLink]="['/shop']">Shop</a>
              <span class="delimiter"><i class="fa fa-angle-right"></i></span>
              <a href="product-category.html">{{ response?.type | titlecase }}</a>
              <span class="delimiter"><i class="fa fa-angle-right"></i>
              </span>{{ response?.attributes.name }}
          </nav><!-- /.woocommerce-breadcrumb -->
          <alert></alert>
          <div id="primary" class="content-area">
              <main id="main" class="site-main">

                  <div class="product">

                      <div class="single-product-wrapper">
                          <div class="product-images-wrapper">
                              <ng-container *ngIf="imgArray && imgArray.length">
                                <span class="onsale">Sale!</span>
                              </ng-container>
                              <div class="images electro-gallery">
                                <ng-container *ngIf="imgArray && imgArray.length; else noimage">
                                  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                                </ng-container>
                                <ng-template #noimage>
                                  <h3 class="text-danger">
                                    <img src="assets/images/noimage.jpg" alt="No Image">
                                  </h3>
                                </ng-template>

                              </div><!-- .electro-gallery -->
                          </div><!-- /.product-images-wrapper -->

                          <div class="summary entry-summary">

                              <span class="loop-product-categories">
                                  <a href="product-category.html" rel="tag">{{ response?.type | titlecase}}</a>
                              </span><!-- /.loop-product-categories -->

                              <h1 itemprop="name" class="product_title entry-title">{{ response?.attributes.name }}</h1>

                              <div class="woocommerce-product-rating">
                                  <div class="star-rating" title="Rated 4.33 out of 5">
                                      <span style="width:86.6%">
                                          <strong itemprop="ratingValue" class="rating">4.33</strong>
                                          out of <span itemprop="bestRating">5</span>				based on
                                          <span itemprop="ratingCount" class="rating">3</span>
                                          customer ratings
                                      </span>
                                  </div>

                                  <a href="#reviews" class="woocommerce-review-link">(<span itemprop="reviewCount" class="count">3</span> customer reviews)</a>
                              </div><!-- .woocommerce-product-rating -->

                              <div class="brand">
                                  <a href="product-category.html">
                                      <img src="{{ apiUrl }}/{{ response?.relationships.brand.logo }}" alt="brand-logo" />
                                  </a>
                              </div><!-- .brand -->

                              <div class="availability in-stock">Availablity:
                                <ng-container *ngIf="response?.attributes.qty > 0; else noStock">
                                <span>In stock</span>
                                </ng-container>
                                <ng-template #noStock>
                                <span class="text-danger">Out Of stock</span>
                                </ng-template>

                              </div><!-- .availability -->

                              <hr class="single-product-title-divider" />

                              <div class="action-buttons">

                                  <a href="#" class="add_to_wishlist" >
                                      Wishlist
                                  </a>


                                  <a href="#" class="add-to-compare-link" data-product_id="2452">Compare</a>
                              </div><!-- .action-buttons -->

                              <div itemprop="description">
                                  <ul>
                                    <ng-container *ngIf="response?.relationships.details.data.length; else nodetail">
                                        <ng-container *ngFor="let detail of response?.relationships.details.data; let i = index">
                                            <li *ngIf="i<4">{{ detail?.attributes.name }} - {{ detail?.attributes.description }}</li>
                                        </ng-container>
                                    </ng-container>
                                    <ng-template #nodetail>
                                        <span class="text-danger">No details found!</span>
                                    </ng-template>
                                  </ul>

                                  <!-- <p>{{ response?.attributes.description }}</p> -->
                                  <p><strong>SKU</strong>: FW511948218</p>
                              </div><!-- .description -->

                              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                                  <p class="price">
                                    <span class="electro-price">
                                        <ins><span class="amount itemprice">₱{{ response?.attributes.discountedSrp }} </span></ins>
                                        <ng-container *ngIf="response?.attributes.discountType">
                                          <del><span class="amount">₱{{ response?.attributes.srp }}</span></del>
                                          <span class="discount"> {{ response?.attributes.discountType }}</span>
                                        </ng-container>
                                    </span></p>

                                  <meta itemprop="price" content="1215" />
                                  <meta itemprop="priceCurrency" content="USD" />
                                  <link itemprop="availability" href="http://schema.org/InStock" />

                              </div><!-- /itemprop -->

                              <form class="variations_form cart" method="post">

                                  <table class="variations">
                                      <tbody>
                                          <tr>
                                              <td class="label"><label>Installation Standard Service</label></td>
                                              <td class="value">
                                                  <select class="" name="attribute_pa_color">
                                                      <option value="" selected='selected'>Choose an option</option>
                                                      <option value="black-with-red" >Black with Red</option>
                                                      <option value="white-with-gold">White with Gold</option>
                                                  </select>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td class="label"><label>Installation Additional Service</label></td>
                                              <td class="value">
                                                  <select class="" name="attribute_pa_color">
                                                      <option value="" selected='selected'>Choose an option</option>
                                                      <option value="black-with-red" >Black with Red</option>
                                                      <option value="white-with-gold">White with Gold</option>
                                                  </select>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>


                                  <div class="single_variation_wrap">
                                      <div class="woocommerce-variation single_variation"></div>
                                      <div class="woocommerce-variation-add-to-cart variations_button">
                                          <div class="quantity buttons_added">
                                            <input [disabled]="btndisabledminus" type="button" class="minus" value="-" (click)="decreaseQty()">
                                            <label>Quantity:</label>
                                            <input [disabled]="btndisabled" readonly type="number" size="4" class="input-text qty text" title="Qty" [value]="itemQty" name="cart[92f54963fc39a9d87c2253186808ea61][qty]" max="response?.attributes.qty" min="0" step="1">
                                            <input [disabled]="btndisabled" type="button" class="plus" value="+" (click)="addQty()">
                                          </div>
                                          <app-addtocart [option]="btndisabledminus" [btnclass]="btnclass" [label]="label" [itemId]="response?.id" [qty]="itemQty"></app-addtocart>
                                          <input type="hidden" name="add-to-cart" value="2452" />
                                          <input type="hidden" name="product_id" value="2452" />
                                          <input type="hidden" name="variation_id" class="variation_id" value="10" />
                                      </div>
                                  </div>
                              </form>

                          </div><!-- .summary -->
                      </div><!-- /.single-product-wrapper -->


                      <div class="woocommerce-tabs wc-tabs-wrapper">
                          <ul class="nav nav-tabs electro-nav-tabs tabs wc-tabs" role="tablist">

                              <li class="nav-item description_tab">
                                  <a href="#tab-description" class="active" data-toggle="tab">Description</a>
                              </li>

                              <li class="nav-item specification_tab">
                                  <a href="#tab-specification" data-toggle="tab">Specification</a>
                              </li>

                              <li class="nav-item reviews_tab">
                                  <a href="#tab-reviews" data-toggle="tab">Reviews</a>
                              </li>
                          </ul>

                          <div class="tab-content">


                              <div class="tab-pane active in panel entry-content wc-tab" id="tab-description">
                                  <div class="electro-description">
                                    <div [innerHtml]="response?.attributes.description">

                                    </div>
                                  </div><!-- /.electro-description -->

                                  <div class="product_meta">
                                      <span class="sku_wrapper">SKU: <span class="sku" itemprop="sku">FW511948218</span></span>


                                      <span class="posted_in">Category:
                                          <a href="product-category.html" rel="tag">Headphones</a>
                                      </span>

                                      <span class="tagged_as">Tags:
                                          <a href="product-category.html" rel="tag">Fast</a>,
                                          <a href="product-category.html" rel="tag">Gaming</a>, <a href="product-category.html" rel="tag">Strong</a>
                                      </span>

                                  </div><!-- /.product_meta -->
                              </div>

                              <div class="tab-pane panel entry-content wc-tab" id="tab-specification">
                                  <h3>Technical Specifications</h3>
                                  <table class="table">
                                      <tbody>
                                          <ng-container *ngIf="!response?.relationships.details.data.length;else details">
                                            <span class="text-danger">No details found!</span>
                                          </ng-container>
                                          <ng-template #details>
                                            <tr *ngFor="let detail of response?.relationships.details.data">
                                              <td>{{ detail?.attributes.name }}</td>
                                              <td>{{ detail?.attributes.description }}</td>
                                            </tr>
                                        </ng-template>
                                      </tbody>
                                  </table>
                              </div><!-- /.panel -->

                              <div class="tab-pane panel entry-content wc-tab" id="tab-reviews">
                                  <div id="reviews" class="electro-advanced-reviews">
                                      <div class="advanced-review row">
                                          <div class="col-xs-12 col-md-6">
                                              <h2 class="based-title">Based on 3 reviews</h2>
                                              <div class="avg-rating">
                                                  <span class="avg-rating-number">4.3</span> overall
                                              </div>

                                              <div class="rating-histogram">
                                                  <div class="rating-bar">
                                                      <div class="star-rating" title="Rated 5 out of 5">
                                                          <span style="width:100%"></span>
                                                      </div>
                                                      <div class="rating-percentage-bar">
                                                          <span style="width:33%" class="rating-percentage">

                                                          </span>
                                                      </div>
                                                      <div class="rating-count">1</div>
                                                  </div><!-- .rating-bar -->

                                                  <div class="rating-bar">
                                                      <div class="star-rating" title="Rated 4 out of 5">
                                                          <span style="width:80%"></span>
                                                      </div>
                                                      <div class="rating-percentage-bar">
                                                          <span style="width:67%" class="rating-percentage"></span>
                                                      </div>
                                                      <div class="rating-count">2</div>
                                                  </div><!-- .rating-bar -->

                                                  <div class="rating-bar">
                                                      <div class="star-rating" title="Rated 3 out of 5">
                                                          <span style="width:60%"></span>
                                                      </div>
                                                      <div class="rating-percentage-bar">
                                                          <span style="width:0%" class="rating-percentage"></span>
                                                      </div>
                                                      <div class="rating-count zero">0</div>
                                                  </div><!-- .rating-bar -->

                                                  <div class="rating-bar">
                                                      <div class="star-rating" title="Rated 2 out of 5">
                                                          <span style="width:40%"></span>
                                                      </div>
                                                      <div class="rating-percentage-bar">
                                                          <span style="width:0%" class="rating-percentage"></span>
                                                      </div>
                                                      <div class="rating-count zero">0</div>
                                                  </div><!-- .rating-bar -->

                                                  <div class="rating-bar">
                                                      <div class="star-rating" title="Rated 1 out of 5">
                                                          <span style="width:20%"></span>
                                                      </div>
                                                      <div class="rating-percentage-bar">
                                                          <span style="width:0%" class="rating-percentage"></span>
                                                      </div>
                                                      <div class="rating-count zero">0</div>
                                                  </div><!-- .rating-bar -->
                                              </div>
                                          </div><!-- /.col -->

                                          <div class="col-xs-12 col-md-6">
                                              <div id="review_form_wrapper">
                                                  <div id="review_form">
                                                      <div id="respond" class="comment-respond">
                                                          <h3 id="reply-title" class="comment-reply-title">Add a review
                                                              <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a>
                                                              </small>
                                                          </h3>

                                                          <form action="#" method="post" id="commentform" class="comment-form">
                                                              <p class="comment-form-rating">
                                                                  <label>Your Rating</label>
                                                              </p>

                                                              <p class="stars">
                                                                  <span><a class="star-1" href="#">1</a>
                                                                      <a class="star-2" href="#">2</a>
                                                                      <a class="star-3" href="#">3</a>
                                                                      <a class="star-4" href="#">4</a>
                                                                      <a class="star-5" href="#">5</a>
                                                                  </span>
                                                              </p>

                                                              <p class="comment-form-comment">
                                                                  <label for="comment">Your Review</label>
                                                                  <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                              </p>

                                                              <p class="form-submit">
                                                                  <input name="submit" type="submit" id="submit" class="submit" value="Add Review" />
                                                                  <input type='hidden' name='comment_post_ID' value='2452' id='comment_post_ID' />
                                                                  <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                              </p>

                                                              <input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" value="c7106f1f46" />
                                                              <script>(function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();</script>
                                                          </form><!-- form -->
                                                      </div><!-- #respond -->
                                                  </div>
                                              </div>

                                          </div><!-- /.col -->
                                      </div><!-- /.row -->

                                      <div id="comments">

                                          <ol class="commentlist">
                                              <li itemprop="review" class="comment even thread-even depth-1">

                                                  <div id="comment-390" class="comment_container">

                                                      <img alt='' src="assets/images/blog/avatar.jpg" class="avatar" height='60' width='60' />
                                                      <div class="comment-text">

                                                          <div class="star-rating" title="Rated 4 out of 5">
                                                              <span style="width:80%"><strong itemprop="ratingValue">4</strong> out of 5</span>
                                                          </div>


                                                          <p class="meta">
                                                              <strong>John Doe</strong> &ndash;
                                                              <time itemprop="datePublished" datetime="2016-03-03T14:13:48+00:00">March 3, 2016</time>:
                                                          </p>



                                                          <div itemprop="description" class="description">
                                                              <p>Fusce vitae nibh mi. Integer posuere, libero et ullamcorper facilisis, enim eros tincidunt orci, eget vestibulum sapien nisi ut leo. Cras finibus vel est ut mollis. Donec luctus condimentum ante et euismod.
                                                              </p>
                                                          </div>


                                                          <p class="meta">
                                                              <strong itemprop="author">John Doe</strong> &ndash; <time itemprop="datePublished" datetime="2016-03-03T14:13:48+00:00">March 3, 2016</time>
                                                          </p>


                                                      </div>
                                                  </div>
                                              </li><!-- #comment-## -->

                                              <li class="comment odd alt thread-odd thread-alt depth-1">

                                                  <div class="comment_container">

                                                      <img alt='' src="assets/images/blog/avatar.jpg" class="avatar" height='60' width='60' />
                                                      <div class="comment-text">

                                                          <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating" title="Rated 4 out of 5">
                                                              <span style="width:80%"><strong itemprop="ratingValue">4</strong> out of 5</span>
                                                          </div>

                                                          <p class="meta">
                                                              <strong>Anna Kowalsky</strong> &ndash;
                                                              <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>:
                                                          </p>


                                                          <div itemprop="description" class="description">
                                                              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget facilisis odio. Duis sodales augue eu tincidunt faucibus. Etiam justo ligula, placerat ac augue id, volutpat porta dui.
                                                              </p>
                                                          </div>

                                                          <p class="meta">
                                                              <strong itemprop="author">Anna Kowalsky</strong> &ndash; <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>
                                                          </p>

                                                      </div>
                                                  </div>
                                              </li><!-- #comment-## -->

                                              <li class="comment odd alt thread-odd thread-alt depth-1">

                                                  <div class="comment_container">

                                                      <img alt='' src="assets/images/blog/avatar.jpg" class="avatar" height='60' width='60' />
                                                      <div class="comment-text">

                                                          <div itemprop="reviewRating" class="star-rating" title="Rated 5 out of 5">
                                                              <span style="width:100%"><strong itemprop="ratingValue">5</strong> out of 5</span>
                                                          </div>

                                                          <p class="meta">
                                                              <strong>Anna Kowalsky</strong> &ndash;
                                                              <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>:
                                                          </p>


                                                          <div itemprop="description" class="description">
                                                              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget facilisis odio. Duis sodales augue eu tincidunt faucibus. Etiam justo ligula, placerat ac augue id, volutpat porta dui.
                                                              </p>
                                                          </div>

                                                          <p class="meta">
                                                              <strong itemprop="author">Anna Kowalsky</strong> &ndash; <time itemprop="datePublished" datetime="2016-03-03T14:14:47+00:00">March 3, 2016</time>
                                                          </p>

                                                      </div>
                                                  </div>
                                              </li><!-- #comment-## -->
                                          </ol><!-- /.commentlist -->

                                      </div><!-- /#comments -->

                                      <div class="clear"></div>
                                  </div><!-- /.electro-advanced-reviews -->
                              </div><!-- /.panel -->
                          </div>
                      </div><!-- /.woocommerce-tabs -->

                      <div class="related products">
                          <h2>Related Products</h2>

                          <ul class="products columns-5">
                            <ng-container *ngFor="let product of products;let i = index">
                              <li class="product" *ngIf="i<5">
                                  <div class="product-outer">
                                      <div class="product-inner">
                                          <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{ product?.type | titlecase}}</a></span>
                                          <a href="/shop/shop-item/{{ product?.attributes.slug }}">
                                              <h3>{{ product?.attributes.name }}</h3>
                                              <div class="product-thumbnail">
                                                  <img attr.data-echo="{{ apiUrl }}/{{ product?.attributes.thumbnails[0] }}" src="assets/images/blank.gif" alt="product-thumbnail">
                                              </div>
                                          </a>

                                          <div class="price-add-to-cart">
                                              <span class="price">
                                                  <span class="electro-price">
                                                      <ins><span class="amount">₱{{ product?.attributes.srp }}</span></ins>
                                                  </span>
                                              </span>
                                              <app-addtocart [btnclass]="relatedProductsbtnclass" [label]="label" [itemId]="product?.id" [qty]="1"></app-addtocart>
                                          </div><!-- /.price-add-to-cart -->

                                          <div class="hover-area">
                                              <div class="action-buttons">
                                                  <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                  <a href="#" class="add-to-compare-link">Compare</a>
                                              </div>
                                          </div>
                                      </div><!-- /.product-inner -->
                                  </div><!-- /.product-outer -->
                              </li>
                            </ng-container>
                          </ul><!-- /.products -->
                      </div><!-- /.related -->
                  </div><!-- /.product -->

              </main><!-- /.site-main -->
          </div><!-- /.content-area -->
      </div><!-- /.container -->
  </div><!-- /.site-content -->

</div>
