.onsale{
  z-index: 1001 !important;
}
.itemprice{
  color: #ee0000;
}
div.quantity.buttons_added .plus{
  bottom: 0.836em !important;
}
div.quantity.buttons_added .minus{
  bottom: 0.836em !important;
}
.single-product.full-width .reviewcomment{
  padding: 0em !important;
}
.hidden{
  display: none;
}
.disabled{
  cursor: not-allowed;
}
.display-it{
  display: none !important;
}
.in-stock-product{
  color: #5cb85c !important;
  font-weight: bold;
}
.item-qty-left{
  color: red !important;
  font-weight: bold;
}
