.onsale{
  z-index: 1002 !important;
}
.itemprice{
  color: #ee0000;
}
div.quantity.buttons_added .plus{
  bottom: 0.836em !important;
}
div.quantity.buttons_added .minus{
  bottom: 0.836em !important;
}
