<div id="overlay" *ngIf="loading">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register">

    <p class="before-register-text">Create your very own account</p>

    <div class="form-row form-row-wide">
        <label for="reg_email">Full Name<span class="required">*</span></label>
        <input type="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="input-text" name="name" id="reg_name" />
        <div *ngIf="submitted && f.name.errors" class="text-danger">
            <div *ngIf="f.name.errors.required">Full Name is required</div>
        </div>
    </div>

    <div class="form-row form-row-wide">
        <label for="reg_email">Email address<span class="required">*</span></label>
        <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="input-text" name="email" id="reg_email" />
        <div *ngIf="submitted && f.email.errors" class="text-danger">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
    </div>

    <div class="form-row form-row-wide">
        <label for="reg_email">Password<span class="required">*</span></label>
        <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="input-text" name="password" id="reg_password" />
        <div *ngIf="submitted && f.password.errors" class="text-danger">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            <div *ngIf="f.password.errors.mustMatch">Passwords must match</div>
        </div>
    </div>

    <div class="form-row form-row-wide">
        <label for="reg_email">Confirm Password<span class="required">*</span></label>
        <input type="password" formControlName="cpassword" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" class="input-text" name="cpassword" id="reg_cpassword" />
        <div *ngIf="submitted && f.cpassword.errors" class="text-danger">
            <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.cpassword.errors.mustMatch">Passwords must match</div>
        </div>
    </div>


    <div class="form-row">
        <button class="btn button">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Register
          </button>
    </div>

    <div class="register-benefits">
        <h3>Sign up today and you will be able to :</h3>
        <ul>
            <li>Speed your way through checkout</li>
            <li>Track your orders easily</li>
            <li>Keep a record of all your purchases</li>
        </ul>
    </div>

</form>
