<h2>Register</h2>

<form class="register">

    <p class="before-register-text">Create your very own account</p>

    <p class="form-row form-row-wide">
        <label for="reg_email">Email address<span class="required">*</span></label>
        <input type="email" class="input-text" name="email" id="reg_email" value="" />
    </p>

    <p class="form-row"><input type="submit" class="button" name="register" value="Register" /></p>

    <div class="register-benefits">
        <h3>Sign up today and you will be able to :</h3>
        <ul>
            <li>Speed your way through checkout</li>
            <li>Track your orders easily</li>
            <li>Keep a record of all your purchases</li>
        </ul>
    </div>

</form>
