<div id="page" class="hfeed site">
  <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <app-navbar *ngIf="router.url !== '/pages/email-verification'"></app-navbar>

    <div id="overlay" *ngIf="showLoadingIndicator">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="content" [@routerAnimation]="getRouteAnimation(router)">
      <router-outlet #router="outlet"></router-outlet>
    </div>
    <app-footer *ngIf="router.url !== '/pages/email-verification'"></app-footer>
</div>
