
<form enctype="multipart/form-data" action="#"
class="checkout woocommerce-checkout" method="post" name="checkout">
  <div id="customer_details" class="col2-set">
    <div class="woocommerce-billing-fields">
      <div class="shadow-padding">
        <form [formGroup]="addressForm" (ngSubmit)="saveAddress()">
            <ng-container>
              <p id="billing_full_name_field" class="form-row form-row form-row-first validate-required">
                <label class="" for="billing_full_name">
                  Full Name
                  <abbr title="required" class="required">*</abbr>
                </label>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input formControlName="fullname" matInput placeholder="">
                    <mat-error *ngIf="a.fullname.errors?.required">Full Name is required</mat-error>
                </mat-form-field>
              </p>

              <p id="billing_address_field" class="form-row form-row form-row-last validate-required">
                <label class="" for="billing_address">
                    House Number, Building and Street Name<abbr title="required" class="required">*</abbr>
                </label>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>House Number, Building and Street Name</mat-label>
                    <input formControlName="building" matInput placeholder="" >
                    <mat-error *ngIf="a.building.errors?.required">House Number, Building and Street Name is required</mat-error>
                </mat-form-field>
              </p>
              <div class="clear"></div>

              <p id="billing_mobile_number_field" class="form-row form-row form-row-first validate-required">
                <label class="" for="billing_mobile_number">
                  Mobile Number
                </label>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input digitOnly formControlName="mobilenumber" matInput placeholder="" >
                    <mat-error *ngIf="a.mobilenumber.errors?.required">Mobile Number is required!</mat-error>
                    <mat-error *ngIf="a.mobilenumber.errors?.pattern">Mobile Number must be valid!</mat-error>
                </mat-form-field>
              </p>

              <p id="billing_province_field" class="form-row form-row form-row-last validate-required">
                <label class="" for="billing_province">
                Province<abbr title="required" class="required">*</abbr>
                </label>
                <br>
                <mat-form-field appearance="outline">
                  <mat-label>Please choose your Province</mat-label>
                  <mat-select formControlName="province">
                    <mat-option *ngFor="let province of provinces"
                      (click)="getCities(province.id)"
                      [value]="province.value">
                      {{ province.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="a.province.errors?.required">Province is required</mat-error>
                </mat-form-field>
              </p>
              <div class="clear"></div>

              <p id="billing_other_notes_field" class="form-row form-row form-row-first validate-required">
                <label class="" for="billing_other_notes">
                  Other Notes
                </label>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Other Notes</mat-label>
                    <input formControlName="other_notes" matInput placeholder="" >
                </mat-form-field>
              </p>

              <p id="billing_city_municipality_field" class="form-row form-row form-row-last validate-required">
                <label class="" for="billing_city_municipality">
                City/Municipality<abbr title="required" class="required">*</abbr>
                </label>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Please choose your City/Municipality</mat-label>
                    <mat-select formControlName="city" >
                      <!-- <mat-option *ngIf="isAddressUpdate">{{ cityUpdate }}</mat-option> -->
                        <mat-option
                          *ngFor="let provinceCity of provinceCities"
                          (click)="getBrgys(provinceCity.id)"
                          [value]="provinceCity.value">
                          {{ provinceCity.value}}
                        </mat-option>

                    </mat-select>
                  <mat-error *ngIf="a.city.errors?.required">City is required</mat-error>
                  </mat-form-field>
              </p>
              <div class="clear"></div>

              <p id="billing_other_notes_field" class="form-row form-row form-row-first validate-required" >
                  <label class="" for="billing_other_notes">
                    Address Type
                  </label>
                  <br>
                <mat-form-field appearance="outline">
                    <mat-label>Address Type</mat-label>
                    <mat-select formControlName="type" [(value)]="type">
                      <mat-option [value]="1">
                        Home
                      </mat-option>
                      <mat-option [value]="2">
                          Office
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>

                <p style="float: right;" id="billing_barangay_field" class="form-row form-row form-row-last validate-required">
                  <label class="" for="billing_barangay">
                  Barangay<abbr title="required" class="required">*</abbr>
                  </label>
                  <br>
                  <mat-form-field appearance="outline">
                    <mat-label>Please choose your Barangay</mat-label>
                    <mat-select formControlName="brgy" >
                      <!-- <mat-option *ngIf="isAddressUpdate">{{ brgyUpdate }}</mat-option> -->
                      <mat-option *ngFor="let cityBarangay of cityBarangays"
                        (click)="getBrgyId(cityBarangay.id)"
                        [value]="cityBarangay.value">
                        {{ cityBarangay.value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="a.brgy.errors?.required">Barangay is required</mat-error>
                  </mat-form-field>
                </p>
                <div class="clear"></div>
                <button type="submit" class="button alt">Save</button>
            </ng-container>
        </form>
      </div>
    </div>
  </div>
</form>
