.tracking-area{
  width: auto;
  background-color: #eff0f5;
  margin: 20px 30px;
  border-radius: 4px
}
.tracking-area{
  padding: 15px;
  font-size: 13px;
}
.tracking-area .log-detail{
  color: #212121;
}
.tracking-area .log-date{
  color: #757575;
}
.view{
  text-align: center;
  cursor: pointer;
  color: #014c8c
}
