.order-list{
  box-shadow: none !important;
}
.hidden{
  display: none;
}
.disabled{
  cursor: not-allowed;
}
.mat-spinner-color ::ng-deep circle{
  stroke: #f78c00 !important;
}
.order{
  min-height: 115px !important;
}
