<footer id="colophon" class="site-footer">
  <home-bottom-products></home-bottom-products>
  <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <h5 class="newsletter-title">Sign up to Newsletter</h5>
          <span class="newsletter-marketing-text">...and receive <strong>₱100 coupon for first shopping</strong></span>
        </div>
        <div class="col-xs-12 col-sm-5">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter your email address">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Sign Up</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom-widgets">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
          <div class="columns">
            <aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
              <div class="body">
                <h4 class="widget-title">Find It Fast</h4>
                <div class="menu-footer-menu-1-container">
                  <ul id="menu-footer-menu-1" class="menu">
                    <li class="menu-item"><a href="single-product.html">Laptops &#038; Computers</a></li>
                    <li class="menu-item"><a href="single-product.html">Cameras &#038; Photography</a></li>
                    <li class="menu-item"><a href="single-product.html">Smart Phones &#038; Tablets</a></li>
                    <li class="menu-item"><a href="single-product.html">Video Games &#038; Consoles</a></li>
                    <li class="menu-item"><a href="single-product.html">TV &#038; Audio</a></li>
                    <li class="menu-item"><a href="single-product.html">Gadgets</a></li>
                    <li class="menu-item "><a href="single-product.html">Car Electronic &#038; GPS</a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div><!-- /.columns -->

          <div class="columns">
            <aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
              <div class="body">
                <h4 class="widget-title">&nbsp;</h4>
                <div class="menu-footer-menu-2-container">
                  <ul id="menu-footer-menu-2" class="menu">
                    <li class="menu-item"><a href="single-product.html">Printers &#038; Ink</a></li>
                    <li class="menu-item "><a href="single-product.html">Software</a></li>
                    <li  class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2742"><a href="single-product.html">Office Supplies</a></li>
                    <li  class="menu-item "><a href="single-product.html">Computer Components</a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div><!-- /.columns -->

          <div class="columns">
            <aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
              <div class="body">
                <h4 class="widget-title">Customer Care</h4>
                <div class="menu-footer-menu-3-container">
                  <ul id="menu-footer-menu-3" class="menu">
                    <li class="menu-item"><a [routerLink]="['/pages/track']">Track your Order</a></li>
                    <li class="menu-item"><a href="/wishlist">Wishlist</a></li>
                    <li class="menu-item"><a href="#">Customer Service</a></li>
                    <li class="menu-item"><a [routerLink]="['/pages/terms-and-conditions']">Terms and Conditions</a></li>
                    <li class="menu-item"><a [routerLink]="['/pages/frequently-ask-questions']">FAQs</a></li>
                    <li class="menu-item"><a href="#">Product Support</a></li>
                    <li class="menu-item"><a [routerLink]="['/pages/contact-us']">Contact Us</a></li>
                    <li class="menu-item"><a [routerLink]="['/pages/about-us']">About Us</a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div><!-- /.columns -->

        </div><!-- /.col -->

        <div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
          <div class="footer-logo">
              <svg height="42.52px" width="175.748px">
                  <text x="8" y="40" fill="#333E48" class="logosvg">cool mart.</text>
                </svg>
          </div><!-- /.footer-contact -->

          <div class="footer-call-us">
            <div class="media">
              <span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
              <div class="media-body">
                <span class="call-us-text">Got Questions ? Call us !</span>
                <span class="call-us-number">(02) 7792-2656</span>
              </div>
            </div>
          </div><!-- /.footer-call-us -->


          <div class="footer-address">
            <strong class="footer-address-title">Contact Info</strong>
            <address>Unit G, 2nd Floor, TSP Bldg., Tunasan, Muntinlupa, Metro Manila, Philippines</address>
          </div><!-- /.footer-address -->

          <div class="footer-social-icons">
            <ul class="social-icons list-unstyled">
              <li><a class="fa fa-facebook" href="https://www.facebook.com/allcoolph/" target="_blank"></a></li>
              <li><a class="fa fa-twitter" href="#"></a></li>
              <li><a class="fa fa-linkedin" href="#"></a></li>
              <li><a class="fa fa-envelope" href="mailto:sales.allcool@gmail.com"></a></li>
              <!-- <li><a class="fa fa-tumblr" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-instagram" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-youtube" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-rss" href="#"></a></li> -->
              </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="copyright-bar">
    <div class="container">
      <div class="pull-left flip copyright">&copy; <a href="/" >Cool Mart</a> - All Rights Reserved <a target="_blank" href="https://jeires.ml" >{{ year }}</a></div>
      <div class="pull-right flip payment">
        <div class="footer-payment-logo">
          <ul class="cash-card card-inline">
            <li class="card-item"><img src="assets/images/footer/payment-icon/1.svg" alt="american-express" width="52"></li>
            <li class="card-item"><img src="assets/images/footer/payment-icon/2.svg" alt="jcb" width="52"></li>
            <li class="card-item"><img src="assets/images/footer/payment-icon/3.svg" alt="master-card" width="52"></li>
            <li class="card-item"><img src="assets/images/footer/payment-icon/4.svg" alt="paypal" width="52"></li>
            <li class="card-item"><img src="assets/images/footer/payment-icon/5.svg" alt="visa" width="52"></li>
          </ul>
        </div><!-- /.payment-methods -->
      </div>
    </div><!-- /.container -->
  </div><!-- /.copyright-bar -->
</footer><!-- #colophon -->
