.col2-set11 {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
.col2-set11::after {
  content: "";
  display: table;
  clear: both;
}
.col2-set11 .col-1,
.col2-set11 .col-2 {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .col2-set11 .col-1{
    width: 26%;
  }
  .col2-set11 .col-2 {
    width: 74%;
  }
}

.containerlist{
  padding-right:.9375rem;padding-left:.9375rem;margin-right:auto;margin-left:auto
}
.containerlist::after{
  display:table;clear:both;content:""
}
@media (min-width:544px){
  .containerlist{max-width:576px}
}
@media (min-width:768px){
  .containerlist{max-width:790px}
}
@media (min-width:992px){
  .containerlist{max-width:1092px}
}
@media (min-width:1200px){
  .containerlist{max-width:1300px}
}

.info-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
  padding: 5px;
  align-items: flex-start;
}
.info{
  padding: 5px;
  text-align: center;
}
.mat-spinner-color::ng-deep circle{
  stroke: #f78c00 !important;
}
