.addToCartBtn:hover{
  cursor: pointer;
}
.filter{
  cursor: pointer;
}
.brandreset{
  color: #575560;
  font-size: 0.7em;
  cursor: pointer;
}
.brandreset:hover{
  color: #f78c00;
}
.disabled{
  cursor: not-allowed;
}

.price{
  font-size: 1.2em !important;
}

.slashed{
  position: relative;
  float: left;
  margin-top: -6px;
  margin-left: 20px;
}
.notslashed{
  margin-left: -35px;
}

.hidden{
  display: none;
}

.mat-spinner-color ::ng-deep circle{
  stroke: #f78c00 !important;
}
