<div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="home-v3-slider" >

                    <home-carousel></home-carousel>

                </div><!-- /.home-v1-slider -->

                <div class="home-v3-features-block animate-in-view fadeIn animated" data-animation="fadeIn">
                    <div class="features-list columns-5">
                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-transport"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Free Delivery</strong> from ₱10,000
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-customers"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>99% Positive</strong> Feedbacks
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-returning"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>14 days</strong> for free return
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-payment"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Payment</strong> Secure System
                                </div>
                            </div>
                        </div><!-- .feature -->

                        <div class="feature">
                            <div class="media">
                                <div class="media-left media-middle feature-icon">
                                    <i class="ec ec-tag"></i>
                                </div>
                                <div class="media-body media-middle feature-text">
                                    <strong>Only Best</strong> Known Brands
                                </div>
                            </div>
                        </div><!-- .feature -->
                    </div><!-- .features-list -->
                </div><!-- .home-v3-features-block -->

                <home-deals></home-deals>

                <home-tabs></home-tabs>

                <section class="products-carousel-with-image animate-in-view fadeIn animated" style="background-size: cover; background-position: center center; background-image: url( assets/images/home-v3-bg.jpg );" data-animation="fadeIn">
                  <home-product-section></home-product-section>
                </section>
                <!-- /.products-carousel-with-image-->

                <section class="section-product-cards-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
                    <home-products-card></home-products-card>
                </section><!-- /.section-product-cards-carousel-->
                <!-- <section class="products-6-1 animate-in-view fadeIn animated" data-animation="fadeIn">
                   <home-best-seller></home-best-seller>
                </section> -->
                <!-- /.products-6-1 -->
                <!-- <section class="home-list-categories animate-in-view fadeIn animated" data-animation="fadeIn">
                  <home-top-this-month></home-top-this-month>
                </section> -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
</div><!-- #content -->
<home-bottom-brands-carousel></home-bottom-brands-carousel>
