<h2 class="sr-only">Products Carousel</h2>
                    <div class="container">
                        <div class="row">
                            <div class="image-block col-xs-12 col-sm-6">
                                <img data-echo="assets/images/ad-banner-3.png" src="assets/images/blank.gif" alt="">
                            </div><!-- /.image-block -->

                            <div class="products-carousel-block col-xs-12 col-sm-6">
                                <section class="home-v2-categories-products-carousel section-products-carousel" >

                                    <header>
                                        <h2 class="h1">Home Cooling</h2>
                                        <!-- <div class="owl-nav">
                                            <a href="#products-carousel-prev" data-target="#products-carousel-with-umage" class="slider-prev"><i class="fa fa-angle-left"></i></a>
                                            <a href="#products-carousel-next" data-target="#products-carousel-with-umage" class="slider-next"><i class="fa fa-angle-right"></i></a>
                                        </div> -->

                                    </header>

                                    <div id="">
                                        <div class="woocommerce ">


                                            <ul class="products exclude-auto-height ">

                                                <li class="product">
                                                    <div class="product-outer">
                                                        <div class="product-inner">
                                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Audio Speakers</a></span>
                                                            <a href="single-product.html">
                                                                <h3>Wireless Audio System Multiroom 360</h3>
                                                                <div class="product-thumbnail">
                                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/3.jpg" class="img-responsive" alt="">
                                                                </div>
                                                            </a>

                                                            <div class="price-add-to-cart">
                                                                <span class="price">
                                                                    <span class="electro-price">
                                                                        <ins><span class="amount"> $1,999.00</span></ins>
                                                                        <del><span class="amount">$2,299.00</span></del>
                                                                        <span class="amount"> </span>
                                                                    </span>
                                                                </span>
                                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                                            </div><!-- /.price-add-to-cart -->

                                                            <div class="hover-area">
                                                                <div class="action-buttons">

                                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.product-inner -->
                                                    </div><!-- /.product-outer -->
                                                  </li><!-- /.product -->


                                                  <li class="product last">
                                                    <div class="product-outer">
                                                        <div class="product-inner">
                                                            <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                                            <a href="single-product.html">
                                                                <h3>Tablet Thin EliteBook  Revolve 810 G6</h3>
                                                                <div class="product-thumbnail">
                                                                    <img src="assets/images/blank.gif" data-echo="assets/images/products/1.jpg" class="img-responsive" alt="">
                                                                </div>
                                                            </a>

                                                            <div class="price-add-to-cart">
                                                                <span class="price">
                                                                    <span class="electro-price">
                                                                        <ins><span class="amount"> </span></ins>
                                                                        <span class="amount"> $1,999.00</span>
                                                                    </span>
                                                                </span>
                                                                <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                                            </div><!-- /.price-add-to-cart -->

                                                            <div class="hover-area">
                                                                <div class="action-buttons">

                                                                    <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                                    <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.product-inner -->
                                                    </div><!-- /.product-outer -->
                                                  </li><!-- /.product -->
                                                  <li class="product last">
                                                      <div class="product-outer">
                                                          <div class="product-inner">
                                                              <span class="loop-product-categories"><a href="product-category.html" rel="tag">Laptops</a></span>
                                                              <a href="single-product.html">
                                                                  <h3>Tablet Thin EliteBook  Revolve 810 G6</h3>
                                                                  <div class="product-thumbnail">
                                                                      <img src="assets/images/blank.gif" data-echo="assets/images/products/1.jpg" class="img-responsive" alt="">
                                                                  </div>
                                                              </a>

                                                              <div class="price-add-to-cart">
                                                                  <span class="price">
                                                                      <span class="electro-price">
                                                                          <ins><span class="amount"> </span></ins>
                                                                          <span class="amount"> $1,999.00</span>
                                                                      </span>
                                                                  </span>
                                                                  <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                                              </div><!-- /.price-add-to-cart -->

                                                              <div class="hover-area">
                                                                  <div class="action-buttons">

                                                                      <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                                      <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                                  </div>
                                                              </div>
                                                          </div><!-- /.product-inner -->
                                                      </div><!-- /.product-outer -->
                                                    </li><!-- /.product -->
                                              </ul><!-- /.products -->
                                        </div>
                                    </div>
                                </section>
                            </div><!-- /.iproducts-carousel-block -->
                        </div><!-- /.row -->
                    </div><!-- /.conainer -->
