<mat-tab-group dynamicHeight>
  <mat-tab label="All(1)">
    <ng-template matTabContent>
      <div class="order-list">
        <div class="order">
          <div class="order-detail">
            <div class="order-left">
              <div class="order-link">
                Order <a href="#">#263195583976552</a>
              </div>
              <div class="order-info-date">
                Placed on 19 Nov 2019 15:26:08
              </div>
            </div>
            <div class="center-pull"></div>
            <div class="order-right">
              <a href="">DETAILS</a>
            </div>
          </div>
          <div class="order-item">

          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="To Pay">
    <ng-template matTabContent>
      Content 2
    </ng-template>
  </mat-tab>
  <mat-tab label="To Ship">
    <ng-template matTabContent>
      Content 3
    </ng-template>
  </mat-tab>
  <mat-tab label="To Receive">
    <ng-template matTabContent>
      Content 4
    </ng-template>
  </mat-tab>
</mat-tab-group>
