<div class="card">
  <div class="card-header header-bg">My Order(s)</div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="All(1)">
      <ng-template matTabContent>
        <div class="order-list">
          <p style="text-align: center;" *ngIf="orders.length <= 0"> No Orders Yet</p>
          <div class="order" *ngFor="let order of orders">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#{{ order?.attributes.transaction_id }}</a>
                </div>
                <div class="order-info-date">
                  Placed on {{ order?.attributes.date_placed }}
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a href="">DETAILS</a>
              </div>
            </div>
            <div style="overflow-x:auto;">
              <table>
                <tr *ngFor="let items of order?.relationships.carts.data">
                  <div class="order-item">
                    <td>
                      <div class="item-pic">
                        <img src="http://ph-live.slatic.net/original/ae0e0b0b54e1f18b625542082fd22120.jpg"
                          alt="product-thumbnail">
                      </div>
                    </td>
                    <td>
                      <div class="item-main">
                        <div class="item-name">
                          {{ items?.attributes.item_name }}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="item-quantity">
                        Qty: {{ items?.attributes.cart_qty }}
                      </div>
                    </td>
                    <td>
                      <div class="item-status">
                        Delivered
                      </div>
                    </td>
                    <td>
                      <div class="item-info">
                        Delivered on 20 Nov 2019
                      </div>
                    </td>
                  </div>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <!-- <mat-tab label="To Pay">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#263195583976552</a>
                </div>
                <div class="order-info-date">
                  Placed on 19 Nov 2019 15:26:08
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a href="">DETAILS</a>
              </div>
            </div>
            <div class="order-item">

            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="To Ship">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#263195583976552</a>
                </div>
                <div class="order-info-date">
                  Placed on 19 Nov 2019 15:26:08
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a href="">DETAILS</a>
              </div>
            </div>
            <div class="order-item">

            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="To Receive">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#263195583976552</a>
                </div>
                <div class="order-info-date">
                  Placed on 19 Nov 2019 15:26:08
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a href="">DETAILS</a>
              </div>
            </div>
            <div class="order-item">

            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab> -->
  </mat-tab-group>

</div>
