<div class="card">
  <div class="card-header header-bg">My Order(s)</div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="All(1)">
      <ng-template matTabContent>
        <div class="order-list">
            <mat-progress-spinner
            *ngIf="loadingOrder; else loaded"
            style="margin:60px auto !important;"
            class="mat-spinner-color"
            [mode]="mode"
            [diameter]="90"
            [value]="value">
          </mat-progress-spinner>
          <ng-template #loaded>
          <p style="text-align: center;" *ngIf="orders.length <= 0"> No Orders Yet</p>
          <div class="order" *ngFor="let order of orders">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#{{ order?.attributes.transaction_id }}</a>
                </div>
                <div class="order-info-date">
                  Placed on {{ order?.attributes.date_placed }}
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a [routerLink]="['/dashboard/order/view-order']" >DETAILS</a>
              </div>
            </div>
            <div style="overflow-x:auto;">
              <table>
                <tr *ngFor="let items of order?.relationships.carts.data">
                  <div class="order-item">
                    <td>
                      <div class="item-pic">
                          <ng-container *ngIf="items?.attributes.item_images.length <= 0;else thereIsImage">
                              <img style="max-width: 100% !important;" src="assets/images/noimage2.jpg"
                                alt="product-thumbnail0">
                          </ng-container>
                          <ng-template #thereIsImage>
                            <img style="max-width: 100%;" src="{{ apiUrl }}/{{ items?.attributes.item_images[0] }}"
                              alt="product-thumbnail1">
                          </ng-template>
                      </div>
                    </td>
                    <td>
                      <div class="item-main">
                        <div class="item-name">
                          {{ items?.attributes.item_name }}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="item-quantity">
                        Qty: {{ items?.attributes.cart_qty }}
                      </div>
                    </td>
                    <td>
                      <div class="item-status">
                        Delivered
                      </div>
                    </td>
                    <td>
                      <div class="item-info">
                        Delivered on 20 Nov 2019
                      </div>
                    </td>
                  </div>
                </tr>
              </table>
            </div>
          </div>
          </ng-template>
          <div id="order-pagination" style="padding: 1.5em">
              <nav class="woocommerce-pagination">
                <ul class="page-numbers">
                  <li [ngClass]="{hidden: orderPage?.prev !== null}">
                    <a class="page-numbers" [ngClass]="{disabled: orderPage?.prev == null}">
                      <i class="fa fa-arrow-left"></i>
                    </a>
                  </li>
                  <li [ngClass]="{hidden: orderPage?.prev == null}">
                    <a class="page-numbers" (click)="changePageOrder(orderPage?.prev)">
                      <i class="fa fa-arrow-left"></i>
                    </a>
                  </li>
                  <li><span class="page-numbers current">{{ orderMeta?.current_page }}</span></li>
                  <li [ngClass]="{hidden: orderPage?.next !== null}">
                    <a [ngClass]="{disabled: orderPage?.next == null}" class="page-numbers">
                      <i class="fa fa-arrow-right"></i>
                    </a>
                 </li>
                 <li [ngClass]="{hidden: orderPage?.next == null}">
                    <a class="page-numbers" (click)="changePageOrder(orderPage?.next)">
                      <i class="fa fa-arrow-right"></i>
                    </a>
                 </li>
                </ul>
              </nav>
            </div>
        </div>
      </ng-template>
    </mat-tab>
    <!-- <mat-tab label="To Pay">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#263195583976552</a>
                </div>
                <div class="order-info-date">
                  Placed on 19 Nov 2019 15:26:08
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a href="">DETAILS</a>
              </div>
            </div>
            <div class="order-item">

            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="To Ship">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#263195583976552</a>
                </div>
                <div class="order-info-date">
                  Placed on 19 Nov 2019 15:26:08
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a href="">DETAILS</a>
              </div>
            </div>
            <div class="order-item">

            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="To Receive">
      <ng-template matTabContent>
        <div class="order-list">
          <div class="order">
            <div class="order-detail">
              <div class="order-left">
                <div class="order-link">
                  Order <a href="#">#263195583976552</a>
                </div>
                <div class="order-info-date">
                  Placed on 19 Nov 2019 15:26:08
                </div>
              </div>
              <div class="center-pull"></div>
              <div class="order-right">
                <a href="">DETAILS</a>
              </div>
            </div>
            <div class="order-item">

            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab> -->
  </mat-tab-group>

</div>
