
::ng-deep .mat-ink-bar{
  background: #f78c00 !important;
}
.hidden{
  display: none;
}
.disabled{
  cursor: not-allowed;
}
.mat-spinner-color ::ng-deep circle{
  stroke: #f78c00 !important;
}
.item-status{
  border-radius: 5px;
  background-color: #eff0f5;
  padding: 4px 12px;
}
.order{
  min-height: 115px !important;
}
