<div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <nav class="woocommerce-breadcrumb"><a href="/home">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>FAQ</nav>

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <article class="page type-page status-publish hentry" >

                    <header class="entry-header">
                        <h1 itemprop="name" class="entry-title">Frequently Asked Questions</h1>
                        <p class="entry-subtitle">This Agreement was last modified on 5th November 2019</p>
                    </header><!-- .entry-header -->

                    <div itemprop="mainContentOfPage" class="entry-content">

                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="vc_toggle panel panel-default" *ngFor="let faq of faqs;let i = index">
                                <div class="panel-heading" role="tab" id="heading">
                                    <div class="vc_toggle_title">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" style="color: #434343;" data-parent="#accordion" href="#collapse{{ i }}" aria-expanded="true" aria-controls="collapseSix">
                                              {{ faq.title }}</a>
                                        </h4>
                                        <i class="vc_toggle_icon"></i>
                                    </div>
                                </div>
                                <div id="collapse{{ i }}" class="vc_toggle_content panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <p>{{ faq.body }}</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </article>
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
</div><!-- #content -->
