<div class="card">
    <div class="card-header header-bg">
        My Profile
      </div>

      <div class="card" style="margin: 10px">
          <div class="info-container">
              <div class="info">

                      Full Name <br>
                      {{ currentUser.name }} <br> <br>
                      <!-- Birthday <br>
                      01-01-1999 -->
              </div>
              <div class="info">
                      Email Address
                      <!-- | <a href="">Change </a> -->
                       <br>
                      {{ currentUser.email }} <br> <br>
                      <!-- Gender <br>
                      Male -->
              </div>
              <div class="info">
                      <!-- Mobile -->
                      <!-- | <a href="">Add</a> -->
                      <!-- <p style="color: #929292;">Please add your mobile</p> -->
              </div>
          </div>
          <div class="changepass">
            <form>
              <div class="current-password">
                <mat-form-field appearance="outline">
                  <mat-label>Current Password</mat-label>
                  <input required matInput placeholder="">
                  <mat-error>Current Password is required</mat-error>
                </mat-form-field>
              </div>
              <div class="new-password">
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input required matInput placeholder="">
                  <mat-error>New Password is required</mat-error>
                </mat-form-field>
              </div>
              <div class="confirm-new-password">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm New Password</mat-label>
                  <input required matInput placeholder="">
                  <mat-error>Confirm New Password is required</mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
          <br> <br>

          <div>
            <!-- <button class="button" style="margin: 5px;">EDIT PROFILE</button> -->
            <button class="button" style="margin: 5px;">CHANGE PASSWORD</button>
          </div>
      </div>
</div>
