<div class="card">
    <div class="card-header header-bg">
        My Profile
      </div>

      <div class="card" style="margin: 10px">
          <div class="info-container">
              <div class="info">

                      Full Name <br>
                      {{ currentUser.name }} <br> <br>
                      <!-- Birthday <br>
                      01-01-1999 -->
              </div>
              <div class="info">
                      Email Address
                      <!-- | <a href="">Change </a> -->
                       <br>
                      {{ currentUser.email }} <br> <br>
                      <!-- Gender <br>
                      Male -->
              </div>
              <div class="info">
                      <!-- Mobile -->
                      <!-- | <a href="">Add</a> -->
                      <!-- <p style="color: #929292;">Please add your mobile</p> -->
              </div>
          </div>

          <br> <br>

          <div>
            <!-- <button class="button" style="margin: 5px;">EDIT PROFILE</button> -->
            <button class="button" style="margin: 5px;">CHANGE PASSWORD</button>
          </div>
      </div>
</div>
